@import "~video-react/dist/video-react.css";

.upload-vid {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.upload-container {
  margin: auto;
  display: grid;
  grid-template-columns: 640px 1fr;
  grid-template-rows: 480px auto;
  column-gap: 10px;
  row-gap: 10px;
  width: 1000px;
  /* background: red; */
}
.upload-container > div {
  background: white;
  border: 1px solid #017a84;
}
.upload-input {
  padding: 30px;
  font-family: "poppins";
  grid-row: 1/-1;
  grid-column: 2;
}
.upload-input > form > input,
.upload-input > form > select {
  margin-bottom: 20px;
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #017a84;
  text-decoration: none;
}
.upload-input > form > textarea {
  resize: none;
  border: 1px solid #017a84;
  border-radius: 5px;
  margin-bottom: 20px;
}
.upload-input > form > button {
  text-align: right !important;
  border: 1px solid #017a84;
  border-radius: 5px;
  background: none;
  color: #017a84;
  text-decoration: none;
}
.upload-title {
  font-family: "poppins";
}
.upload-upload {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 70px auto;
  column-gap: 10px;
  row-gap: 10px;
  margin: auto;
  padding: 10px;

  grid-row: 2;
}
.upload-upload > h1 {
  grid-column: 1/-1;
  text-align: center;
  font-family: "poppins";
  font-weight: 100;
  letter-spacing: 5px;
  padding-top: 10px;
}
.upload-container > div:nth-of-type(3) > div {
  border: 1px solid #017a84;
}
.upload-preview > a:nth-of-type(1) {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 14px;
  padding: 0 5px;
}
.upload-preview > p:nth-of-type(1) {
  font-size: 12px;
  padding: 0 5px;
}
.upload-preview {
  height: 200px;
  width: 200px;
}
.upload-preview > img {
  height: 50%;
  width: 198px;
}
.upload-thumbnail {
  position: relative;
  width: 350px;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
}
.cancel-thumbnail {
  border: none;
  color: red;
  font-weight: 900;
  position: absolute;
  top: 0;
  right: 0;
}
