@import "~video-react/dist/video-react.css";

.upload-vid {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.upload-container {
  margin: auto;
  display: grid;
  grid-template-columns: 640px 1fr;
  grid-template-rows: 480px auto;
  column-gap: 10px;
  row-gap: 10px;
  width: 1000px;
  /* background: red; */
}
.upload-container > div {
  background: white;
  border: 1px solid #017a84;
}
.upload-input {
  padding: 30px;
  font-family: "poppins";
  grid-row: 1/-1;
  grid-column: 2;
}
.upload-input > form > input,
.upload-input > form > select {
  margin-bottom: 20px;
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #017a84;
  text-decoration: none;
}
.upload-input > form > textarea {
  resize: none;
  border: 1px solid #017a84;
  border-radius: 5px;
  margin-bottom: 20px;
}
.upload-input > form > button {
  text-align: right !important;
  border: 1px solid #017a84;
  border-radius: 5px;
  background: none;
  color: #017a84;
  text-decoration: none;
}
.upload-title {
  font-family: "poppins";
}
.upload-upload {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 70px auto;
  column-gap: 10px;
  row-gap: 10px;
  margin: auto;
  padding: 10px;

  grid-row: 2;
}
.upload-upload > h1 {
  grid-column: 1/-1;
  text-align: center;
  font-family: "poppins";
  font-weight: 100;
  letter-spacing: 5px;
  padding-top: 10px;
}
.upload-container > div:nth-of-type(3) > div {
  border: 1px solid #017a84;
}
.upload-preview > a:nth-of-type(1) {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 14px;
  padding: 0 5px;
}
.upload-preview > p:nth-of-type(1) {
  font-size: 12px;
  padding: 0 5px;
}
.upload-preview {
  height: 200px;
  width: 200px;
}
.upload-preview > img {
  height: 50%;
  width: 198px;
}
.upload-thumbnail {
  position: relative;
  width: 350px;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
}
.cancel-thumbnail {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: red;
  /* font-weight: 900; */
  position: absolute;
  top: 0;
  right: 0;
}
.edit {
  border: none;
  background: none;
}
.edit:hover {
  color: #017a84;
}
.delete {
  border: none;
  background: none;
}
.delete:hover {
  color: tomato;
}
.edit-modal-container {
  width: 100vw;
  height: auto;
  position: fixed;
  top: 3em;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding-top: 50px;
  grid-template-columns: 800px;
  row-gap: 10px;
  justify-content: center;
}
.edit-card {
  padding-top: 30px;
  width: 700px;
  min-height: 400px;
  background: white;
  position: relative;
  display: grid;
  grid-template-columns: 640px;
  grid-template-rows: 360px auto 70px;
  justify-content: center;
}
.edit-button {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  justify-content: center;
  column-gap: 50px;
}
.edit-x:hover {
  cursor: pointer;
  color: tomato;
}
.edit-x {
  position: absolute;
  /* color: red; */
  right: 10px;
  top: -10px;
  font-size: 30px;
}
.edit-form {
  padding: 50px 0;
  width: 80%;
  margin: auto;
  align-self: flex-start;
}
.edit-form > input,
.edit-form > select {
  height: 28px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
.edit-form > p {
  margin-bottom: 2px;
  font-family: "poppins";
  font-weight: 200;
}
.edit-cancel,
.edit-save,
.edit-delete {
  height: 35px !important;
  width: 100px;
  background: none;
  border-radius: 5px;
  background: #017a84;
  color: white;
  border: 2px solid #017a84;
  font-weight: 500;
  font-family: "poppins";
  letter-spacing: 2px;
  transition: 0.5s;
}
.edit-delete:hover {
  background: tomato;
  border: 2px solid tomato;
}
.edit-cancel:hover,
.edit-save:hover {
  background: white;
  color: #017a84;
  border: 2px solid #017a84;
}
