.judul-products {
  width: 250px;
  margin: auto;
  padding: 19px;
  /* background: #017a84; */
}
.judul-products > h5 {
  color: white;
  font-weight: 500;
  text-align: justify;
  text-justify: distribute;
}
.judul-products > h1 {
  font-family: "Poppins";
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 60px;
  color: white;
  text-shadow: 0 4px 10px 0 rgba(0, 0, 0, 1);
}
.desc-products {
  color: white;
  text-shadow: 5px 5px 2em black;
  letter-spacing: 3px;
}
.judul-brand {
  font-family: "poppins";
  font-weight: 900;
  letter-spacing: -1.5px;
  color: #017a84;
}
.products-title {
  font-family: "Montserrat";
  /* letter-spacing: 2px; */
  font-weight: 400;
  color: rgb(70, 70, 70);
}
.product-desc {
  display: grid;
  width: auto;
  justify-content: center;
  margin: auto;
  padding-top: 50px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px;
  column-gap: 40px;
}
.product-desc > div:nth-of-type(1) {
  background: url(https://static.skillshare.com/assets/images/homepage/how-it-works/hand-picked_2x.png)
    no-repeat;

  background-size: contain;
  background-position: bottom;
}
.product-desc > div:nth-of-type(2) {
  background: url(https://static.skillshare.com/assets/images/homepage/how-it-works/community_2x.png)
    no-repeat;

  background-size: contain;
  background-position: bottom;
}
.product-desc > div:nth-of-type(3) {
  background: url(https://static.skillshare.com/assets/images/homepage/how-it-works/reminders_2x.png)
    no-repeat;

  background-size: contain;
  background-position: bottom;
}
/* .product-desc > div {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.product-desc > div:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
} */
.header {
  padding-top: 3em;
  margin-top: -3em;
  height: 32em;
  /* background: linear-gradient(40deg, rgb(84, 21, 156), rgb(132, 51, 77)); */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://images.unsplash.com/photo-1483808161634-29aa1b0e585e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  /* background: url(../../images/photo-1515378791036-0648a3ef77b2.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-blend-mode: darken;
}
.home-bg {
  background: #f7f7f7;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.header-item {
  height: auto;
  width: auto;
  margin: 7em auto;
}
.home-content {
  margin: auto;
  width: 65%;
  box-sizing: border-box;
  padding-top: 50px;
  z-index: 1;
  text-align: center;
  padding-bottom: 50px;
}
.home-extra {
  height: 600px;
  width: 100%;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 50px;
}

.categories {
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  color: gray;
  text-decoration: none;
  border: none;
  background: none;
}

.categories:hover {
  color: black;
  cursor: pointer;
}
.categories-active {
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  font-weight: 500;
  text-decoration: none;
  border: none;
  background: none;
  color: #017a84;
  transition: 1s;
}

.preview-episode {
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 0;
  right: 5px;
  font-weight: 900;
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 2px #017a84;
}
.preview-thumbnail {
  height: 55%;
  width: 100%;
  background-size: 100% 50%;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  /* border-radius: 5px 5px 0 0; */
}
.preview-title {
  margin-left: 5px;
  margin-bottom: 0;
  /* font-family: "Poppins", sans-serif; */
  font-weight: 900;
  font-size: 14px;
  text-align: start;
}
.preview-title:hover {
  text-decoration: none;
  cursor: pointer;
}
.preview-author {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  display: inline;
  margin: 0;
  padding-left: 5px;
}
.preview-views {
  font-size: 12px;
  display: block;
  margin: 0;
  padding-left: 5px;
}
.tombol {
  border: 3px solid #017a84;
  font-family: "montserrat";
  background: none;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 3px;
  height: 40px;
  width: 200px;
  color: #017a84;
  margin-top: 40px;
  font-size: 20px;
  transition: 0.2s;
}
.tombol:active {
  background: #017a84;
  color: white;
}
.tombol:hover {
  background: #017a84;
  color: white;
}

.previewbox {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(2, 220px);
  column-gap: 20px;
  row-gap: 20px;
  padding-top: 20px;
  /* background: red; */
}
@media only screen and (max-width: 768px) {
  .previewbox {
    grid-template-columns: 200px 200px;
  }
}
.preview {
  text-align: left;
  height: 220px;
  background: white;
  box-sizing: border-box;
  padding: 0 !important;
  /* border-radius: 10px; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fromtransparent 0.5s;
}
@keyframes fromtransparent {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.preview:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition-duration: 0.5s;
}
.linkaja {
  text-decoration: none;
  color: black;
}
.linkaja:hover {
  text-decoration: none;
  color: black;
}
.home-loading {
  grid-column: 3;
  grid-row: 1/-1;
}
