.navbar{
  position: sticky !important;
  top: 0;
  background: white 
}
.judul {
    font-family: 'Poppins', sans-serif;
    letter-spacing: -3px;
    font-weight: 900;
    font-style: italic;
  }
.hilang{
  display: flex;
  justify-content: space-around;
  width: 40%
}
.tautan {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
    color: black

}
.tautan:hover{
  transform: scale(1.1,1.1);
  transition-duration: 0.5s;
  color: black;
  text-decoration: none
}
.navbar {
  height: 3em;
}

@media only screen and (max-width: 768px) {
  body{
    overflow-x: hidden
  }
  .hilang {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:black;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s;
    box-shadow: #333 5px
}
.tautan{
  color: white;
  width: 100;
}
.tautan:hover{
  transform: scale(1.1,1.1);
  transition-duration: 0.5s;
  color: white;
  text-decoration: none
}
.burger{
  display: block !important
}
}
.hilang-active{
  transform: translateX(0%)
}
.burger {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-5px, 5px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-7px, -6px) ;
}