.navbar {
  position: sticky !important;
  top: 0;
  margin-top: -3em;
  /* background: white; */
  height: 3em;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 20;
  box-sizing: border-box;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.begron {
  position: sticky !important;
  top: 0;
  height: 3em;
  z-index: 1;
  box-sizing: border-box;
  padding-left: 20px !important;
  padding-right: 20px !important;
  background: black;
}
.judul {
  font-family: "Poppins", sans-serif;
  letter-spacing: -3px;
  font-weight: 900;
  font-style: italic;
  font-size: 20px;
  text-decoration: none;
  color: rgb(223, 223, 223);
}

.judul:hover {
  text-decoration: none;
  color: white;
  transition-duration: 0.5s;
}
.hilang {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.tautan {
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  cursor: pointer;
  text-decoration: none;
  color: rgb(223, 223, 223);
}
.tautan:hover {
  transform: scale(1.05, 1.05);
  transition-duration: 0.5s;
  color: white;
  text-decoration: none;
}
.tautan:active {
  transform: scale(0.8, 0.8);
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .hilang {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s;
    box-shadow: #333 5px;
    overflow-y: hidden;
  }
  .tautan {
    color: rgb(223, 223, 223);
    width: 100;
  }
  .tautan:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 0.5s;
    color: white;
    text-decoration: none;
  }
  .burger {
    display: block !important;
  }
}
.hilang-active {
  transform: translateX(0%);
}
.burger {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: rgb(223, 223, 223);
  margin: 5px 0;
  transition: 0.5s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-5px, 5px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-7px, -6px);
}
.userIcon {
  background: url(../../images/585e4bf3cb11b227491c339a.png);
  background-size: contain;
  height: 1.5em;
  width: 1.5em;
  opacity: 0.8;
}

.terms {
  border: none;
  background: none;
  color: #007bff;
}

.terms:hover {
  text-decoration: underline;
}
