.video-container-container {
  display: grid;
  grid-template-columns: 640px auto;
  grid-template-rows: auto;
  width: 1080px;
  column-gap: 10px;
  padding: 0;
  margin: auto;
}
.video-container-container > div:nth-of-type(2) {
  height: 500px;
}
.video-container {
  /* min-height: 1400px; */
  display: grid;
  grid-template-columns: 640px;
  grid-template-rows: 480px auto auto auto;
  row-gap: 10px;
  /* width: 80%; */
  margin: 0 auto;
  margin-bottom: 50px;
  /* background: white; */
  /* box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.14); */
  box-sizing: border-box;
  justify-content: center;
  animation: trans 1s;
  position: relative;
}
.video-container > div {
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}
.video-text {
  min-height: 250px;
  box-sizing: border-box;
  padding: 20px;
  grid-column: 1;
}
@media only screen and (max-width: 1000px) {
  .video-container-container {
    grid-template-columns: 1fr;
  }
  .video-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
  }
  .video-main {
    grid-column: 1;
  }
  .line1 {
    display: none;
  }
  .video-related {
    grid-column: 1 !important;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.video-loading {
  width: 80%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.14);
}

.video-loading-icon {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}
.line1 {
  background: rgb(150, 150, 150);
  grid-column: 2;
  grid-row: 1;
}
.video-related {
  background: white;
  min-width: 500px;
  height: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}
.video-list {
  height: 500px;
  margin: auto;
  overflow-y: scroll;
  padding-bottom: 20px;
}
.video-related > .related-video {
  background: #017a84;
  height: 50px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}
.video-related > div > h4 {
  color: white;
  font-family: "poppins";
  letter-spacing: 2px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.related-preview-selected {
  display: grid;
  grid-template-columns: 200px 1fr;
  background: #f7f7f7;
  height: 126px;
  margin-bottom: 5px;
}
div.related-preview-blocked {
  position: absolute;
  height: 126px;
  width: 200px;
  background: rgba(0, 0, 0, 0.14);
  backdrop-filter: blur(8px);
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-locked {
  font-size: 50px;
  color: white;
  opacity: 0.5;
}
div.related-preview-blocked:hover > .video-locked {
  opacity: 1;
}

.related-preview-blocked {
  display: grid;
  grid-template-columns: 200px 1fr;
  background: #f7f7f7;
  height: 126px;
  margin-bottom: 5px;
  position: relative;
}
.related-preview {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 126px;
  margin-bottom: 5px;
}
.related-preview:hover {
  background: #f7f7f7;
}
.related-preview-thumbnail {
  width: 200px;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.video-title {
  text-transform: capitalize;
  font-family: "poppins";
  /* font-weight: 200; */
  font-size: 20px;
}
.video-main {
  grid-column: 1;
}
.video-desc {
  text-align: justify;
}
.video-author {
  text-decoration: none;
}
.video-episodes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px 20px;
  min-height: 60px;
}
.video-episodes > div > h6 {
  font-weight: bold;
}
.video-comment-input {
  height: 200px;
  grid-column: 1;
  z-index: 2;
}

.video-comment-input > div {
  height: 100px;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 50px 50px;
}
.video-comment-input > div > p {
  font-family: "poppins";
  /* background: skyblue; */
  margin-bottom: 0;
}

.video-comment-input > div > p:nth-of-type(1) {
  padding-top: 27px;
}
.video-comment-input > div > p:nth-of-type(2) {
  font-weight: 200;
}
.video-comment-input > div > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
  grid-column: 1;
  grid-row: 1/-1;
  object-fit: cover;
}
.video-comment-input > form {
  height: auto;
  width: 90%;
  margin: 5px auto;
}
.video-comment-input > form > input {
  width: 100%;
  /* height: 90%; */
  /* border-radius: 10px; */
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  transition: 1s;
}

.video-comment-input > form > input:focus {
  border-bottom: 1px solid black;
}

.video-comment-input > form > div > button {
  margin-top: 10px;
  border: none;
  background: none;
  color: #017a84;
  font-weight: 700;
  font-family: "poppins";
}
.comment-box {
  grid-column: 1;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 50px auto;
  height: auto;
  animation: frombottom 0.2s;
  min-height: 100px;
  position: relative;
}

@keyframes frombottom {
  from {
    transform: translateY(-100px);
  }
}

.comment-header > div {
  position: absolute;
  top: 15px;
  left: 100px;
}
.comment-header > div > span {
  font-family: "poppins";
  /* background: skyblue; */
  margin-bottom: 0;
}
.comment-header > div > span:nth-of-type(1) {
  top: 10px;
  left: 100px;
}
.comment-header > div > span:nth-of-type(2) {
  font-weight: 200;
  /* position: absolute; */
  top: 34px;
  left: 120px;
}
.comment-header > div > span:nth-of-type(3) {
  font-weight: 200;
  font-size: 14px;
}

.comment-header > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 20px;
  top: 20px;
}
.comment-content {
  grid-column: 2;
  grid-row: 2;
  overflow: hidden;
  /* background: #000; */
}

.delete-comment {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
}

.delete-comment:hover {
  font-weight: 700;
}
.confirm-button:hover {
  background: #017a84;
  color: white;
}
.confirm-button {
  border: 2px solid #017a84;
  font-family: "poppins";
  font-weight: 500;
  color: #017a84;
  background: none;
  border-radius: 10px;
  margin-left: 10px;
}
.cancel-button {
  border: 2px solid rgb(70, 70, 70);
  font-family: "poppins";
  font-weight: 500;
  color: rgb(70, 70, 70);
  background: none;
  border-radius: 10px;
  margin-left: 10px;
}

.cancel-button:hover {
  background: rgb(70, 70, 70);
  color: white;
}
.please {
  display: flex;
  justify-content: center;
  align-content: center;
}
.please > h1 {
  font-family: "poppins";
  font-weight: 200;
  padding-top: 20px;
  font-size: 20px;
  height: 50px;
}
