.video-container {
  display: grid;
  grid-template-columns: 560px 410px;
  grid-template-rows: auto;
  column-gap: 100px;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  background: white;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  padding: 50px;
  justify-content: center;
  animation: trans 1s;
  position: relative;
}
@media only screen and (max-width: 1000px) {
  .video-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    width: 100%;
  }
  .video-main {
    grid-column: 1;
  }
  .line1 {
    display: none;
  }
  .video-related {
    grid-column: 1 !important;
    grid-row: 2 !important;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.video-loading {
  width: 80%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.14);
}

.video-loading-icon {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}
.line1 {
  background: rgb(150, 150, 150);
  grid-column: 2;
  grid-row: 1;
}
.video-related {
  grid-row: 1;
  grid-column: 2;
}
.video-list {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(4, 180px);
  row-gap: 20px;
  column-gap: 20px;
}
.video-related > h4 {
  color: black;
  letter-spacing: 2px;
  text-align: center;
}
.video-title {
  text-transform: capitalize;
}
.video-main {
  grid-column: 1;
}
.video-desc {
  text-align: justify;
}
.video-author {
  text-decoration: none;
}
.video-episodes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.video-episodes > div > h6 {
  font-weight: bold;
}
