.login-title {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: 400;
    line-height: 75px;
  }
.login-title-div {
    /* background: url('https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80'); */
background: linear-gradient(90deg, rgb(84, 21, 156),rgb(132, 51, 77));
padding-top: 100px;
padding-bottom: 100px
}
.login-image {
    height: 75px;
    align-content: center;
    line-height: 150px
}
.user-icon {
    height: 50px;

}
.login-card{
    padding-bottom: 20px;
    width: 30%;
    background: white;
    border-radius: 5px
}
@media only screen and (max-width: 600px) {
    .login-card{
        width: 90% !important;
    } 
  }
@media only screen and (max-width: 1200px ) {
    .login-card{
        width: 90% !important;
    }
  }

.login-input-title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    letter-spacing: 2px
}
.login-input{
    display: block;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    width: 60%;
    margin: 10px auto;
    height: 40px
    
}
.login-input:focus{
    border-bottom: 1px solid black;
    transition-duration: 1s
}