.browse-container {
  width: 80%;
  margin: auto;
  height: 100%;
  display: grid;
  grid-template-columns: 300px 1200px;
  grid-template-rows: auto;
  row-gap: 10px;
  column-gap: 10px;
}
.browse-container-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto auto;
}
.browse-container-content > div {
  animation: coba 1s;
}

@keyframes coba {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.browse-container > div {
  /* background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); */
}
.browse-search {
  height: 50px;
}
.browse-search > form {
  width: 60%;
  margin: auto;
}
.browse-search > form > input::placeholder {
  letter-spacing: 5px;
  font-family: "poppins";
}
.browse-search > form > button:hover {
  background: #017a84;
  color: white;
}
.browse-search > form > button {
  background: #e2edee;
  border-radius: 0 10px 10px 0;
  border: 2px solid #017a84;
  color: #017a84;
  font-family: "poppins";
  height: 30px;
  width: 20%;
}
.browse-search > form > input:focus {
  border: 2px solid #017a84;
}
.browse-search > form > input:focus ~ button {
  background: #017a84;
  color: white;
  transition: 0.2s;
}

.browse-search > form > input {
  font-family: "poppins";
  margin: 10px auto;
  display: inline;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px 0 0 10px;
  height: 30px;
  padding-left: 10px;
  width: 80%;
  transition: 0.2s;
}
.browse-nav {
  /* position: fixed; */
  /* top: 8em; */
  width: 300px;
  margin-top: 50px;
  /* z-index: 20; */
}

.browse-nav > div {
  width: 100%;
  overflow: hidden;
}
.browse-featured {
  width: 1080px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  grid-template-rows: 270px;
}
.featured-preview > img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  transition: 1s;
}
.featured-preview > p {
  padding: 0 20px;
  font-family: "poppins";
  font-size: 14px;
  font-weight: 200;
  text-align: justify;
  margin: 0;
}
.featured-preview > a:hover {
  text-decoration: none;
  color: black;
}
.featured-preview > a {
  font-size: 17px;
  font-family: "poppins";
  font-weight: 400;
  text-transform: capitalize;
  padding-left: 10px;
  padding-top: 5px;
  color: black;
}
.featured-preview > a > p {
  padding: 10px 20px;
  font-family: "poppins";
  font-size: 14px;
  font-weight: 200;
  text-align: justify;
  margin: 0;
}
.featured-preview:hover {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}
.featured-preview:hover > img {
  height: 0;
  transition: 0.5s ease-in;
}
.featured-preview {
  background: white;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.browse-featured-container {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 400px;
  display: grid;
  grid-template-columns: 1f;
  grid-template-rows: 1fr 3fr;
  justify-content: center;
}
.browse-nav > div > label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  margin: 0;
  /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
  font-family: "poppins";
  font-weight: 200;
}
.browse-nav > div > label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  color: #017a84;
  text-align: center;
  transition: all 0.35s;
}
.browse-nav > div > label:hover {
  background: #e7e7e7;
}
.browse-nav input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
input[type="radio"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

input[type="radio"]:checked + label {
  background: #e7e7e7 !important;
}
.myprofile::after {
  content: none !important;
}
.myprofile {
  background-color: white !important;
  border: none;
  /* 2px solid rgba(0, 0, 0, 0.1); */
  width: 100%;
  height: 50px;
  font-family: "poppins";
  font-weight: 200;
  width: 100%;
  padding: 10px;
  text-align: left;
}
.myprofile:hover {
  background: #fafafa !important;
}
.browse-nav > div > input:checked + label::after {
  transform: rotate(90deg);
}
.nav-content {
  max-height: 0;
  background: white;
  transition: all 0.35s;
}
.browse-nav > div > div > label {
  font-family: "poppins";
  font-weight: 200;
  width: 100%;
  padding: 10px;
}
.browse-nav > div > div > label:hover {
  background: #fafafa;
}
.browse-nav > div > input:checked + label + .nav-content {
  max-height: 100vh;
}
.browse-content-container {
  display: grid;
  margin: auto;
  grid-template-columns: 1080px;
  grid-template-rows: 50px 740px 55px;
  height: 845px;
}
.browse-content {
  grid-row: 2;
  display: grid;
  height: 740px;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(3, 220px);
  column-gap: 20px;
  row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-content: flex-start;
}
.browse-content-container > .browse-title {
  grid-column: 1/-1;
}

.browse-title {
  position: relative;
  display: flex;
  gap: 20px;
  align-content: center;
}
.browse-title > a {
  height: 30px;
  align-self: center;
}
.browse-sort > button {
  border: none;
  color: #017a84;
  font-family: "poppins";
  font-weight: 500;
  background: none;
}
.browse-sort {
  position: absolute;
  top: 17px;
  right: 0;
}
.browse-title > h1 {
  font-family: "poppins";
  font-weight: 700;
  /* display: inline; */
  text-align: left;
  text-transform: capitalize !important;
  color: #017a84;
}
.browse-profile {
  height: 30px;
  width: 150px;
  letter-spacing: 3px;
  font-family: "poppins";
  border: 2px solid #017a84;
  background: none;
  color: #017a84;
  border-radius: 10px;
}
.browse-profile:hover {
  background: #017a84;
  color: white;
}
.browse-pages {
  grid-column: 1/-1;
  grid-row: 3;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.browse-pages > label:hover {
  background: #017a84;
  color: white;
}
.browse-pages > label {
  border: 2px solid #017a84;
  color: #017a84;
  background: none;
  width: 25px;
  border-radius: 5px;
  text-align: center;
  font-family: "poppins";
  font-weight: 500;
}
.browse-pages > input:checked + label {
  background: #017a84 !important;
  color: white !important;
}
.browse-dp {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.browse-user-icon {
  height: 220px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  color: black;
}
.browse-user-icon:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition-duration: 0.5s;
}
.browse-user-icon > p {
  margin: 0;
}
.browse-preview {
  text-align: left;
  height: 220px;
  background: white;
  box-sizing: border-box;
  padding: 0 !important;
  /* border-radius: 10px; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fromtransparent 0.5s;
}

.browse-preview:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition-duration: 0.5s;
}
