.browse-container {
  width: 80%;
  margin: auto;
  height: 100%;
  display: grid;
  grid-template-columns: 300px 1200px;
  grid-template-rows: 50px auto;
  row-gap: 10px;
  column-gap: 10px;
}
.browse-container > div {
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.browse-search {
  grid-column: 2/-1;
}
.browse-search > form {
  width: 60%;
  margin: auto;
}
.browse-search > form > input::placeholder {
  letter-spacing: 5px;
  font-family: "poppins";
}
.browse-search > form > button:hover {
  background: #017a84;
  color: white;
}
.browse-search > form > button {
  background: none;
  border-radius: 0 10px 10px 0;
  border: 2px solid #017a84;
  color: #017a84;
  font-family: "poppins";
  height: 30px;
  width: 20%;
}
.browse-search > form > input:focus {
  border: 2px solid #017a84;
}
.browse-search > form > input:focus ~ button {
  background: #017a84;
  color: white;
  transition: 0.2s;
}

.browse-search > form > input {
  font-family: "poppins";
  margin: 10px auto;
  display: inline;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px 0 0 10px;
  height: 30px;
  padding-left: 10px;
  width: 80%;
  transition: 0.2s;
}
.browse-nav {
  min-height: 814px;
  grid-row: 1/-1;
}
.browse-nav > div {
  width: 100%;
  overflow: hidden;
}

.browse-nav > div > label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
  font-family: "poppins";
  font-weight: 200;
}
.browse-nav > div > label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  color: #017a84;
  text-align: center;
  transition: all 0.35s;
}
.browse-nav > div > label:hover {
  background: #e7e7e7;
}
.browse-nav input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
input[type="radio"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

input[type="radio"]:checked + label {
  background: #e7e7e7;
}

.browse-nav > div > input:checked + label::after {
  transform: rotate(90deg);
}
.nav-content {
  max-height: 0;
  background: white;
  transition: all 0.35s;
}
.browse-nav > div > div > label {
  font-family: "poppins";
  font-weight: 200;
  width: 100%;
  padding: 10px;
}
.browse-nav > div > div > label:hover {
  background: #fafafa;
}
.browse-nav > div > input:checked + label + .nav-content {
  max-height: 100vh;
}
.browse-content {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: 70px, repeat(2, 200px);
  column-gap: 20px;
  row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-content: flex-start;
}
.browse-content > .browse-title {
  grid-column: 1/-1;
  text-transform: capitalize;
  display: grid;
  max-height: 70px;
  grid-column: 1fr 1fr;
  color: #017a84;
}

.browse-title {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 40px;
}
.browse-title > h1 {
  grid-column: 1/-1;
  font-family: "Poppins";
  font-weight: 900;
  display: inline;
}
.browse-profile {
  height: 30px;
  width: 150px;
  letter-spacing: 3px;
  font-family: "poppins";
  border: 2px solid #017a84;
  background: none;
  color: #017a84;
  border-radius: 10px;
}
.browse-profile:hover {
  background: #017a84;
  color: white;
}
.show-more {
  grid-column: 1/-1;
  text-align: center;
}
.show-more:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition: 0.2s;
}
.browse-dp {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.browse-user-icon {
  height: 200px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  color: black;
}
.browse-user-icon:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition-duration: 0.5s;
}
.browse-user-icon > p {
  margin: 0;
}
.browse-preview {
  text-align: left;
  height: 200px;
  background: white;
  box-sizing: border-box;
  padding: 0 !important;
  /* border-radius: 10px; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fromtransparent 0.5s;
}

.browse-preview:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition-duration: 0.5s;
}
